*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(145, 75, 75);
}
#title{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
a{
    color:rgb(0, 0, 0)
}
.homepage{
    color: rgb(194, 231, 93);
}
